/* 
Background: #07030e
Blue: #00C0E6
Purple: #7D36B3
Green: #00CC63z  
*/




body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* stack children vertically */
    align-items: center;     /* horizontally center content */
    background-color: #07030e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  1rem;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 50px;
    padding: 0 20px;
    display: grid;
    grid-auto-flow: row;      /* make children stack vertically */
    justify-items: center;    /* horizontal center */
    align-items: center;      /* vertical center (of each row item) */
    width: 100%;
}

.buttons{
    width: 60vw;
}

.buttons button {
    /* display: block; */
    max-height: 50px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    background-color: #7D36B3;
    font-weight: 800;
    display: inline-block;
}

.buttons a {
    color: white;
}

.buttons button img {
    height: auto;
    width: auto;
    max-width: 30px;
}

.buttons button:hover{
    background-color: #00C0E6;
    cursor: pointer;
} 

.column {
    flex: 2 1 60%; /* Grow, shrink, and set a base size for the columns */
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}

.column-2 {
    display: grid;
    justify-content: right;
    align-items: center;
    flex: 1 1 30%; /* Second column takes up less space (1 part out of 3) */
    /* border: 1px solid yellowgreen; */
}

.column-2 img {
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 60vw;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-self: center;
    /* border: 1px solid yellow; */
}

footer {
    bottom: 0;
    left: 0;
    /* border: 1px solid yellow; */
    
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    
}




/* picture documentation */
.artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    width: 60vw;

    /* border: 1px solid yellow; */
}
.artwork iframe {
    width:  100%;
}

.artwork .modal-image {
    max-width: 60vw;
    max-height: 80vh;
}

.extra-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 16px; /* space between images */
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}
.extra-images img {
    width: 100%;
    max-height: 30vh;
    display: block;
    object-fit: cover;
    border-radius: 8px; /* optional, just for style */
    object-fit: contain;
}

/* video documentation */

.modal-image:hover {
    cursor: pointer;
}

/* game documentation */


.artist_statement{
    width: 100%;
}

.artsist_bio{
    width: 100%;
}
.bg-image {
    /* Center and scale the image nicely */
    background-image: url("../images/BackgroundImages/Medium_Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Add the blur effect */
    filter: blur(1px);
    -webkit-filter: blur(1px);

    /* The image used */
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
  }

  .bg-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; /* horizontally center the .item */
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .bg-wrapper .item {
    padding: 30px;
  }
@media screen and (max-width: 856px) {

    .bg-wrapper .item {
        margin: 10px;
    }

    .column, .column-2, .item {
        flex: 1 1 100%; /* Stack columns on smaller screens */
        justify-content: center;
        align-items: center;
        display: grid;
        width: 80vw;
        text-align: center;
    }

    .buttons {
        width: 80vw
    }


    .artwork {
        display: block;
    }

    .extra-images {
        grid-template-columns: repeat(2, 1fr);
      }

    .artwork .modal-image {
        width: 80vw;
        max-width: 80vw;
        max-height: 80vh;
    }

}

@media screen and (max-width: 480px) {
    .extra-images {
      grid-template-columns: 1fr;
    }
  }