/* 
Background: #07030e
Blue: #00C0E6
Purple: #7D36B3
Green: #00CC63z  
*/




body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    height: 100vh; /* Full height of the viewport */
    background-color: #07030e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  1rem;
}

.container {
    margin: 50px;
    padding: 0 20px;
    display: grid;
    flex-direction: column; /* Aligns items in a vertical column */
    align-items: center; /* Optional: aligns items horizontally in the center */
    justify-content: center; /* Optional: aligns items vertically in the center */

}

.buttons button {
    /* display: block; */
    max-height: 50px;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    margin: 5px;
    background-color: #7D36B3;
    font-weight: 800;
}

.buttons a {
    color: white;
}

.buttons img {
    height: 100%;
    width: auto;
    max-width: 50px;
}

.buttons button:hover{
    background-color: #00C0E6;
} 

.column {
    flex: 2 1 60%; /* Grow, shrink, and set a base size for the columns */
    
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}

.column-2 {
    display: grid;
    justify-content: right;
    align-items: center;
    flex: 1 1 30%; /* Second column takes up less space (1 part out of 3) */
    /* border: 1px solid yellowgreen; */
}

.column-2 img {
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 60vw;
    padding: 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    /* border: 1px solid yellow; */
}

footer {
    bottom: 0;
    left: 0;
    /* border: 1px solid yellow; */
    
    padding-top: 5vh;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    
    
}




/* picture documentation */
.artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60vw;
    /* border: 1px solid yellow; */
}

.artwork .wide {
    width: 60vw;
    height: auto;
}
.artwork .tall {
    height: auto;
    width: auto;
    max-height: 80vh;
}
/* video documentation */


/* game documentation */


.artist_statement{
    width: 100%;
}

.artsist_bio{
    width: 100%;
}
.bg-image {
    /* Center and scale the image nicely */
    background-image: url("../images/BackgroundImages/Medium_Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Add the blur effect */
    filter: blur(1px);
    -webkit-filter: blur(1px);

    /* The image used */
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    height: 30vh; 
    width: 100%;

    z-index: -1;
  }

@media screen and (max-width: 856px) {

    /* body{
        font-size: 2rem;
    } */

    .column, .column-2, .item {
        flex: 1 1 100%; /* Stack columns on smaller screens */
        justify-content: center;
        align-items: center;
        display: grid;
        width: 80vw;
        text-align: center;
    }

    .bg-image {
        height: 50vh;
    }

    .artwork .wide {
        width: 80vw;
        height: auto;
    }
    .artwork .tall {
        width: 80vw;
        height: auto;
    }
}

