/* hero image -------full page-----*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  /* sorting tags Navbar */
.sorting_tags_nav {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    top: 0;
    height: auto;
}

.sorting_tags_nav h2{
  color: white;
}

li {
    float: left;
}
  
li button {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: blueviolet;
}

li button:hover{
  background-color: rgb(10, 3, 96);
}
form{
  float: right;
  margin: 5px;
}
.search_bar{
  float: right;
  width: 200px;
  height: 35px;
  font-size: 25px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(138, 43, 226,0);
  color: white;
}

.search_bar:click{
  background-color: rgba(138, 43, 226,.5);
}

.search_bar_button{
  float: right;
  width: 35px;
  height: 35px;
  border-radius:  0px 5px 5px 0px;
  border-color: white;
  background-color: rgba(138, 43, 226,0);
}

.search_bar_button:hover{
  background-color: rgba(138, 43, 226,.5);
}

/* catalogue container  ---------start-----*/
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
.individual_artwork_display{
    width: 25%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: left;
    vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .individual_artwork_display {
    flex: 50%;
    max-width: 50%;
  }
}
.individual_artwork_display:hover:not(.active) .artwork_text{
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
}
.artwork_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: white;
}


/* type */
img{
  width: 100%;
}
