body, html {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  1rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .arrow-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 2.5%;
    height: auto;
  }

  .bg-image {
    /* The image used */
    background-image: url("../images/BackgroundImages/Medium_Background.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .socialIcons {
    margin: 20px;
    
  }
  .socialIcons img {
    height: 32px;
    width: auto;
    margin: 10px;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .info-section {
    background-color: #3b2c46;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    
  }

  .fancy-text {
    font-family: "Big Shoulders Inline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-size: 64;
  }


  
  @media screen and (max-width: 600px) {

    .bg-image{
        background-image: url(../images/BackgroundImages/Phone_Background.jpg);
    }
    .bg-text {
        width: 90%;
    }
    .arrow-image{
        width: 10%;
    }
  }
