/* -------------------------------- */
/* General Stuff  */
/* -------------------------------- */
  html {
    font-family: "Sofia sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    margin:0;
    background-color: black;
  }
  h1{
    color: white;
  }
  p{
    color: white;
  }
  a{
    text-decoration: none;
  }
/* -------------------------------- */
/* NavBar Stuff */
/* -------------------------------- */
.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 10;
  }
  
  .navbar a {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    border: rgba(1,1,1,0.2);
    border: 1px;
  }

  .navbar:hover{
    background-color: rgba(0,0,0,0.2);
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .navbar a:hover{
    text-decoration-thickness: 5px;
  }

/* -------------------------------- */
/* img Expansion Stuff  */
/* -------------------------------- */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }

  /* Modal content (the image) */
  .modal-content {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }

  /* Close button */
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }

/* -------------------------------- */
/* Social Media Button Stuff */
/* -------------------------------- */
  .socialIcons {
    margin: 20px;
    height: 70px;
    width: auto;
    display: block;
    align-items: center;
    justify-content: center;
  }
  .socialIcons img {
    height: 64px;
    width: auto;
    padding: 10px;
  }

  .socialIcons img:hover{
    padding: 5px;
  }



  @media screen and (max-width: 600px) {
    .socialIcons img {
      height: 72px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .navbar a{
      font-size: 1rem;
      font-weight: 600;
    }
  }