body{
  background-image: url("../images/DigitalIllusions-Final-Background.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

/* hero image -------full page-----*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("general_images/sjsu_logo.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  /* hero image end -------------------------------------------------*/
  .mainGif{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    z-index: -1;
  }

  .container {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  .imageAnimate{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80vw;
    max-height: 80vh;
    opacity: 0;
    transform: translate(-50%,-50%);
    animation: fadeIn 2s ease-in forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }


  @media screen and (max-width: 850px) {
      .imageAnimate{
        max-width: 95vw;
        max-height: 95vh;
      }
  }